.sidebar-container {
  background-color: #354649;
  left: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}
